@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

body {
    background-color: #1f2024;
    color: #fff;
}

* {
    font-family: 'Roboto Slab', serif;
}

.container {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 300px;
}

@import 'scss/list';
@import 'scss/task';