.list {
    display: inline-flex;
    flex-direction: column;

    width: 300px;
    margin: 20px 10px;


    border-radius: 10px;
    background-color: #292a2f;
    font-size: 1.2rem;

    h1 {
        margin: 0;
        padding: 15px 20px;
        border-bottom: solid 2px #25262a;
        font-size: 1.2rem;
    }
}

.addList {
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 0;

    font-weight: 700;

    background-color: #25262a;

    &:hover {
        background-color: #292a2f;
    }

    &::placeholder {
        color: #a9a9a9;
    }

    &:focus {
        cursor: text;
        text-align: left;
        padding-left: 20px;
        width: 280px;
    }
}