.list {
    display: inline-flex;
    flex-direction: column;
    row-gap: 10px;

    width: 300px;
    margin: 20px 10px;


    border-radius: 10px;
    background-color: #292a2f;

    .listTitle {
        padding: 15px 20px;
    }
}

.addList {
    cursor: pointer;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 0;

    font-weight: 700;
    font-size: 1em;

    background-color: #25262a;

    &:hover {
        background-color: #292a2f;
    }

    &::placeholder {
        color: #a9a9a9;
    }

    &:focus {
        cursor: text;
        text-align: left;
        padding-left: 20px;
        width: 280px;
    }
}