.task {
    background-color: unset;
    border: none;
    outline: none;
    color: #fff;
    padding: 10px 20px;
    width: 260px;

    &:hover {
        background-color: #303138;
        cursor: pointer;
    }
}

.addTask {

    &::placeholder {
        color: #a9a9a9;
    }

    &:focus {
        cursor: text;
        text-align: left;
    }
}